<%= form_for(@scribble, html: {style: 'height:90%;'}) do |f| %>
  <% if @scribble.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scribble.errors.count, "error") %> prohibited this scribble from being saved:</h2>

      <ul>
      <% @scribble.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" style='height:100%;'>
    <%= f.text_area :text, style: 'width:100%;height:100%' %>
  </div>
  <div class="actions">
    <%= f.submit 'save', class: 'btn' %>
  </div>
<% end %>
