<h1>Listing scribbles</h1>

<table>
  <thead>
    <tr>
        <th>Text</th>
        <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= content_tag_for(:tr, @scribbles) do |scribble| %>
        <td><%= scribble.text %></td>
        <td><%= link_to 'Show', scribble %></td>
      <td><%= link_to 'Edit', edit_scribble_path(scribble) %></td>
      <td><%= link_to 'Destroy', scribble, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Scribble', new_scribble_path %>
