<h2>here's your scribbles.</h2>
<%= content_tag_for(:div, @scribbles, class: 'well', style: 'position:relative;min-width:200px;') do |scribble| %>
  <div style='max-width:85%;padding-right:20ex;padding-bottom:15px;padding-top:5px;'><%= raw(scribble.text) %></div>
  <div style="position:absolute;right:0px;top:0px;">
    <div class='btn-group'>
      <%= link_to 'View',  scribble, class: 'btn' %>
      <%= link_to 'Edit',  edit_scribble_path(scribble), class: 'btn' %>
      <%= link_to 'Delete',  scribble, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn' %>
    </div>
  </div>
<% end %>
<br />
